.portfolio {
    h2 {
        margin: auto;
        text-align: center;
    }
}

.portfolioItems {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem 1rem;
}

.portfolioItem {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid rgba(var(--lightRgb), 0.075);
    border-radius: 0.5rem;
    flex: 1 0 100%;
    transition: var(--ease);

    @media (width >=576px) {
        padding: 1.5rem;
        flex: 1 0 calc(50% - 1rem);
    }

    @media (width >=768px) {
        flex: 0 0 calc(33.33% - 1rem);
    }

    @media (width >=1024px) {
        padding: 2rem;
    }

    @media (width < 1024px) {
        text-align: center;
        justify-content: center;
        align-items: center;

        .buttons {
            justify-content: center;
            align-items: center;
        }
    }


    @media (hover: hover) {
        &:hover {
            transform: translateY(-0.5rem);
            background: rgba(var(--lightRgb), 0.025);
        }

    }

    .itemImage {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: var(--borderRadius);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .itemContent {
        display: flex;
        flex-direction: column;
    }

    .stack {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        @media (width >=1024px) {
            justify-content: flex-start;
            align-items: flex-start;
        }

        .stackItem {
            padding: 0.33rem 0.5rem;
            font-size: 0.75rem;
            background: rgba(var(--lightRgb), 0.025);
            border: 1px solid rgba(var(--lightRgb), 0.2);
            color: var(--textGrey);
            border-radius: var(--borderRadius);

            @media (width >=1024px) {
                padding: 0.33rem 0.66rem;
                font-size: 0.875rem;
            }

            &[data-category="nextjs"] {
                background: black;
                color: var(--light);
            }

            &[data-category="typescript"] {
                background: rgba(var(--typescriptRgb), 0.1);
                border-color: rgba(var(--typescriptRgb), 0.2);
                color: var(--typescriptColor);
            }

            &[data-category="supabase"] {
                background: rgba(var(--supabaseRgb), 0.1);
                border-color: rgba(var(--supabaseRgb), 0.2);
                color: var(--supabaseColor);
            }

            &[data-category="astro"] {
                background: rgba(var(--astroRgb), 0.1);
                border-color: rgba(var(--astroRgb), 0.2);
                color: var(--astroColor);
            }

            &[data-category="vite"] {
                background: rgba(var(--viteRgb), 0.1);
                border-color: rgba(var(--viteRgb), 0.2);
                color: var(--viteColor);
            }

            &[data-category="headless"] {
                background: rgba(var(--headlessRgb), 0.1);
                border-color: rgba(var(--headlessRgb), 0.2);
                color: var(--headlessColor);
            }

            &[data-category="wordpress"] {
                background: rgba(var(--wordpressRgb), 0.1);
                border-color: rgba(var(--wordpressRgb), 0.2);
                color: var(--wordPressColor);
            }
        }
    }
}