.section {

    h2,
    p {
        @media (width >=576px) and (width < 1200px) {
            text-align: center;
            margin: auto;
        }
    }

    p {
        @media (width >=1200px) {
            max-width: 35rem;
        }
    }
}

.favorites {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;

    @media (width >=576px) {
        justify-content: center;
    }
}

.favorite {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    background: rgba(var(--lightRgb), 0.05);
    border-radius: var(--borderRadius);
    flex: 1;

    @media (width >=576px) {
        flex: 1 0 calc(50% - 0.5rem);
    }

    .favoriteHeading {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4 {
            @media all {
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 125%;
            }
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1rem;
            height: 1rem;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .favoriteLink {
        display: flex;
        align-items: center;
        gap: 0.33rem;
        transition: var(--ease);

        .icon {
            width: 0.75rem;
            height: 0.75rem;
            transition: var(--ease);

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            color: var(--light);

            .icon {
                transform: translateX(0.1rem);
            }
        }
    }
}