.workItem {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h3 {
        font-weight: 600;
    }

    p {
        margin: 0;
    }
}

.workItemHeader {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(var(--lightRgb), 0.1);

    @media (width >=768px) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.workItemHeading {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width >=768px) {
        align-items: flex-end;
        text-align: right;
        text-wrap: balance;
    }

    h3 {
        font-size: clamp(1.5rem, 3vw, 3rem);
        color: var(--primary);
    }
}

.workMetaItems {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .workMetaItem {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;
    }
}

.workItemContent,
.workItemDescription {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.workItemDescription {
    gap: 1rem;
}

.workItemContent {
    h3 {
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            background: rgba(var(--primaryRgb), 0.5);
            width: 1rem;
            height: 1rem;
            border-radius: 0.15rem;
            bottom: 0;
            left: -0.25rem;
        }
    }
}

.workItemCols {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.stackedWorkItemCols {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.workItemCol {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background: rgba(var(--lightRgb), 0.05);
    border-radius: var(--borderRadius);
    flex-basis: 100%;

    @media (width >=576px) {
        flex-basis: calc(50% - 0.5rem);
    }

    @media (width >=1024px) {
        flex: 1 0 calc(33.33% - 1rem);
        padding: 2rem;

        &.halfWidth {
            flex: 0 0 calc(50% - 0.5rem);
        }
    }

    @media (width >=1200px) {
        padding: 3rem;
    }

    .workItemColHeader {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .icon {
            display: none;
            justify-content: center;
            align-items: center;
            width: 1rem;
            height: 1rem;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style: square;

        li {
            &::marker {
                color: var(--primary);
            }
        }
    }
}