 .header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin: 0 auto 0;
     color: var(--textGrey);
     position: fixed;
     z-index: 999;
     border-bottom: 1px solid transparent;
     transition: var(--ease);
 }

 .headerContainer {
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     gap: 3rem;
     width: 100%;
     position: relative;
     height: var(--mobileHeaderHeight);

     @media all {
         padding-top: 0;
         padding-bottom: 0;
     }

     @media (width >=1200px) {
         height: var(--headerHeight);
     }
 }

 .logo {
     color: var(--primary);
 }

 .headerActions {
     display: flex;
     align-items: center;
     gap: 1.5rem;

     @media (width >=768px) {
         gap: 2rem;
     }
 }

 .desktopNav {
     display: none;
     align-items: center;
     gap: 3rem;

     @media (width >=768px) {
         display: flex;
     }

     .headerNavItem {
         display: flex;
         justify-content: center;
         align-items: center;
         padding-bottom: 0.15rem;
         position: relative;
         transition: var(--ease);

         &::before {
             content: '';
             position: absolute;
             bottom: 0;
             right: 0;
             width: 0;
             height: 1px;
             background: var(--primary);
             transition: var(--ease);
         }

         &:hover {
             color: var(--light);
         }

         &.active {
             color: var(--light);

             &::before {
                 width: 100%;
                 left: 0;
                 right: unset;
             }
         }
     }
 }

 .header.active {
     top: 0;
     background: rgba(var(--darkRgb), 0.85);
     border-color: rgba(var(--lightRgb), 0.1);
     backdrop-filter: blur(0.5rem);

     @media (width >=1024px) {
         background: rgba(var(--darkRgb), 0.85);
         backdrop-filter: blur(1.5rem);
     }

     .headerContainer {
         height: calc(var(--mobileHeaderHeight) / 1.25);

         @media (width >=768px) {
             height: calc(var(--headerHeight) / 1.5);
         }
     }
 }