 .header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin: 0 auto 0;
     color: var(--textGrey);
     position: fixed;
     z-index: 999;
     border-bottom: 1px solid transparent;
     transition: var(--ease);

     &.active {
         background: var(--dark);
         top: 0;
         border-color: rgba(var(--lightRgb), 0.1);
     }
 }

 .headerContainer {
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     gap: 3rem;
     width: 100%;
     position: relative;
     height: var(--mobileHeaderHeight);

     @media all {
         padding-top: 0;
         padding-bottom: 0;
     }

     @media (width >=1200px) {
         height: var(--headerHeight);
     }
 }

 .logo {
     color: var(--primary);
 }

 .headerActions {
     display: flex;
     align-items: center;
     gap: 1.5rem;

     @media (width >=768px) {
         gap: 2rem;
     }
 }

 .headerNav {
     display: none;
     align-items: center;
     gap: 3rem;

     @media (width >=1200px) {
         display: flex;
     }

     .headerNavItem {
         display: flex;
         justify-content: center;
         align-items: center;
         padding-bottom: 0.15rem;
         position: relative;
         transition: var(--ease);

         &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 1px;
            background: var(--primary);
            transition: var(--ease);
         }

         &.active {
            color: var(--light);
            &::before {
                width: 100%;
                left: 0;
                right: unset;
            }
         }
     }
 }

 .mobileMenuBtn {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 0.4rem;
     align-items: center;
     width: 2rem;
     height: 1.5rem;
     cursor: pointer;
     position: relative;

     span {
         width: 100%;
         height: 1.5px;
         background: var(--light);
     }
 }