---
import "../assets/styles/main.scss"
import Header from "../layouts/header.astro"
import Footer from "../layouts/footer.astro"
---

<div id="app" class="app">
	<Header />
	<slot />
	<Footer />
</div>
